.gitmodules
/test/libs/*

# Don't sync logfiles
*.out

# Downloaded packages
*.deb

# Runner
src/gitlab_runner_token.txt

# Don't sync original source files
src/originals/*

# logs
src/logs/*

# creds
src/creds.txt

# get runner authentication token artifacts
gitlab-cookies.txt
gitlab-header.txt